@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    background-color: bisque;
    justify-content: center;
}

.outer-container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 70vw;
    height: 100vh;
    justify-content: center;
    border-color: rgb(125, 10, 112);
    border-width: 20px;
}

.title {
    width: 70vw;
    height: 20vh;
    font-size: 5rem;
    font-family: 'chango';
    text-align: center;
    color: hsl(200, 30%, 30%);
}

.hangman-container {
    width: 70vw;
    height: 50vh;
    background-color: beige;
    padding-top: 2rem;
    position: relative;
}

.man {
    display: grid;
    grid-auto-rows: auto;
    width: 25vw;
    height: 40vh;
    background-color: red;
    margin-left: 10vw;
}

.head .left-arm .right-arm 
.left-leg .right-leg .torso {
    width: 20px;
    height: 20px;
    background-color: blue;
}

